<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Nay's Portfolio</title>

    <!-- css links google font and fontawesome -->

    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">


</head>


<body
    style="background-image: url(https://images.squarespace-cdn.com/content/v1/568b4be12399a30df6136d70/1452011828186-635XJBCPJTPRP1X4BFAW/ke17ZwdGBToddI8pDm48kIzvSEIzFzIZXDRKrLJRqb17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UQx1FXIVWvuZERX6JIl7kyNLpH54Uua7YVBGtrm_bGrbxGkUFhA8mMphtscgTPYcuA/12140041_1056223521084746_451231728010483009_o.jpg?format=2500w);">

    <!-- Header Section -->


    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="http://www.hikes.band" target="_blank">
            <img src="img/Snake-logo3-01.png" width="30"
                height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Nay Wilkins
        </a>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="../components/portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../index.html">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../components/contact.html">Contact</a>
            </li>
        </ul>

    </nav>

    <!-- end Header section -->

    <!-- form section -->

    <section class="container my-4">
        <div class="row">
            <div class="jumbotron col-md-6">
            <h1>CONTACT US</h1>
                <form>
                    <div class="form-group mt-4">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="johndoe@example.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="password" class="form-control" id="exampleInputName" placeholder="john doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </section>

    <!-- end form section -->

    <!-- footer section -->


      </body>

    <div class="fixed-bottom">
        <footer class="footer-dark bg-dark">
            <div class="container">
              <span class="text-light">© 2014-2020 Hikes Music, LLC.</span>
            </div>
          </footer>
    </div>


      </html>