<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <title>Nay's Portfolio</title>

    <!-- css links google font and fontawesome -->

    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">


</head>


<body>

    <!-- Header Section -->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand" href="http://www.hikes.band" target="_blank">
            <img src="../img/Snake-logo3-01.png" width="30"
                height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Nay Wilkins
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="portfolio.html">Portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>




    <main class="container my-4">
        <div class="row justify-content-center">


            <div class="jumbotron col-sm-8 my-4">

                <h1 class="display-4 text-center">PORTFOLIO</h1>
                <hr class="my-4">


                <!-- row one -->


                <figure class="row mt-1 justify-content-center">
                    <div class="col-md-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                </figure>

                <!-- row two -->

                <figure class="row mt-1 justify-content-center">
                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                </figure>

                <!-- row three -->

                <figure class="row mt-1 justify-content-center">
                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                </figure>

                <!-- row four -->

                <figure class="row mt-1 justify-content-center">
                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                    <div class="col-sm-4 mx-1">

                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/230"
                                alt="placeholder"></a>

                    </div>

                </figure>





            </div>





        </div>


    </main>

    <div class="fixed-bottom">...
        <footer class="footer-dark bg-dark">
            <div class="container">
              <span class="text-light">© 2014-2020 Hikes Music, LLC.</span>
            </div>
          </footer>
    </div>

     <!--js query  -->
  
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 

</body>



</html>